@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);

.icons-style{
  font-size: 50px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 
}
.alert-style{
  background-color: gray;
  width: 20%;
}
.social-button{
  size: 70px;
}

.form-style{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.principal{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-style{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}